body#index {
    overflow-y: hidden;
}

div#HilfeModal {
    height: 85%;
    width: 95%;
    top: 50px;
    overflow-y: scroll;
    text-align: justify;
}

div#myModal {
    width: 50%;
    top: 50px;
}

div#newTopicModal {
    height: 85%;
    width: 50%;
    top: 50px;
    overflow-y: scroll;
    text-align: justify
}

div#RegisterModal {
    height: 85%;
    width: 30%;
    top: 50px;
    overflow-y: scroll;
    text-align: justify
}

div#faqcontent {
    height: 90%;
    top: 7.5%;
    bottom: 2.5%;
    width: 95%;
    left: 2.5%;
    right: 2.5%;
    position: absolute; 
    text-align: justify
}